<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/card.css">
    <link rel="stylesheet" href="css/style.css">
     {{!-- <link rel="stylesheet" href="css/style.css"> --}}
</head>
<body>
    <div class="btn-1">
    <butoon class="style"> <a class="link" href="/">  Back  </a></butoon>
    </div>

    <div class="text">
        All types of Wedding Cards
    </div>

<div class="make">
    <marquee style="color: rgb(0, 0, 0); margin-top:20px; font-size:20px; background-color:rgb(152, 152, 152); border-radius:20px; padding: 10px" >
 Quality Prinitng of Wedding Cards, Mundan Cards, Digital Mundan Cards, Birthday Card, Tilak Card, Udghatan Card, Bahubhoj Cards and Many More  
    </div> 
    </marquee>


    {{>service1}}
   
</body>
</html>