  {{>css}}

<div class="btn_home">
  <a href="../"><button class="home_btn">Click for Home Page </button></a>
</div>  



<section id="contact-details" class="section-p1">
            <div class="details"> 
                <span> GET IN TOUCH </span>
                <h2> Visit one of our Agency locations or contact us today </h2>    
                <h3> Head Office </h3>
                <div>
                    <li> 
                        <i class="fa fal fa-map"> </i>
                        <p> Chand Chauraha Gola Bazar - Gorakhpur (U.P.)  </p>
                    </li>
                </div>

                <div>
                    <li> 
                        <i class="far fa-envelope"> </i>
                        <p> maasaraswatipressgola1@gmail.com </p>
                    </li>
                </div>

                <div>
                    <li> 
                        <i class="fa fas fa-phone-alt"> </i>
                        <p> 9450880307 </p>
                    </li>
                </div>

                <div>
                    <li> 
                        <i class="far fa-clock"> </i>
                        <p> Monday to Saturday : 09:00am to 06:00pm </p>
                    </li>
                </div>
            </div>

                <div class="maps">
                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3575.247259982977!2d83.35042107482398!3d26.35086347698641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399176b7278ff4c7%3A0x118640530cd5c31a!2z4KSc4KSvIOCkruCkvuCkgSDgpLjgpLDgpLjgpY3gpLXgpKTgpYAg4KSV4KSC4KSq4KWN4KSv4KWC4KSf4KSwICYg4KSq4KWN4KSw4KS_4KSC4KSf4KSw4KWN4KS4!5e0!3m2!1shi!2sin!4v1697122053202!5m2!1shi!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            
    </section>


{{>portfolio}}


<script src="../jq/jquery.js" type="text/javascript"> </script>    
<script src="../js/bootstrap.js" type="text/javascript"> </script>     
    
