<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    
    {{!-- //isko bhi hum log sikjte hai   --}}
    {{!-- <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap .min.css"> --}}

    {{!-- FONT ASWESOME LINK --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Rowdies:wght@700&display=swap" rel="stylesheet">

    <title>Document</title> 
</head>
<body>
  
  {{>navbar}}    
{{>slides}}

  {{!-- hero section start --}}

  {{!-- hero section end--}}
  


{{>service}}
{{>work}}
{{>wrokcard}}
{{>about}}

<script src="../jq/jquery.js" type="text/javascript"> </script>    
<script src="../js/bootstrap.js" type="text/javascript"> </script>     
    
</body>
</html>