<div id="about_page">

 <div class="heading1">
    <h1> Who We Are ?</h1> </div>
<div class="small_heading">
    <h5> We love what we do. Nothing makes us happier than delivering a product that helps you achieve your goals. </h5>
</div>




 <div class="heading1">
    <h1> What you also get </h1> </div>
<div class="small_heading">
    <h5> Here are just a few benefits of collaborating with us through our corporate print platform </h5>
</div>

<div class="card_get_main">

    <div class="card_main">
        <div class="image_card">
            <img src="images/logo1.png">
        </div>
        <div class="card_heading">
            <h3> Custom procurement platform </h3>
        </div>
        <div class="card_para">
            Your print procurement platform will be tailored to match your company's unique look and feel along with a user-friendly, clutter-free navigation.
        </div>
    </div>

    <div class="card_main">
        <div class="image_card">
            <img src="images/logo2.png">
        </div>
        <div class="card_heading">
            <h3> Multi-user, multi-tier access </h3>
        </div>
        <div class="card_para">
            Create a unique account for all your team members from multiple locations, with additional control to define multi-tier roles and responsibilities.
        </div>
    </div>

    <div class="card_main">
        <div class="image_card">
            <img src="images/logo3.png">
        </div>
        <div class="card_heading">
            <h3> Ease of ordering and billing </h3>
        </div>
        <div class="card_para">
            With features like bulk uploads, single-click reorder, and online payment options and instant invoicing, we take the hassle out of ordering.
        </div>
    </div>

    <div class="card_main">
        <div class="image_card">
            <img src="images/logo4.png">
        </div>
        <div class="card_heading">
            <h3> Design services </h3>
        </div>
        <div class="card_para">
            Our designers can not only put the finishing touches on your design, but also make minor modifications in your print-ready artworks, recreate design from images.
        </div>
    </div>

    <div class="card_main">
        <div class="image_card">
            <img src="images/logo7.png">
        </div>
        <div class="card_heading">
            <h3> Shipping and delivery</h3>
        </div>
        <div class="card_para">
            Choose single and multiple delivery locations across India for your orders, and we handle the rest. Maintain a high printing quality consistently through all material.
        </div>
    </div>

    <div class="card_main">
        <div class="image_card">
            <img src="images/logo6.png">
        </div>
        <div class="card_heading">
            <h3> Personal support manager </h3>
        </div>
        <div class="card_para">
           Get a dedicated print expert ready to help you. From answering any questions you may have and keeping you updated as your projects progress.
        </div>
    </div>
    

</div>


<div class="heading1">
    <h1> Still not Sure ?</h1> </div>
<div class="small_heading">
    <h5> Reach out to our corporate print team for queries, service options etc. </h5>
</div>


<div class="corporate_call">

    {{!-- call details  --}}

    <div class="corporate_img">
        <img src="images/whatslogo.png">
    </div>

    <div class="corporate_des">
        <div class="corporate_heading">
                Call us (Mon - Fri)
        </div>
        <div class="corporate_des">
            +91 9450880307
        </div>
    </div>


{{!-- line height --}}

<div class="line">
</div>


{{!-- mail logo --}}

 <div class="corporate_img">
        <img src="images/mail.png">
    </div>

    <div class="corporate_des">
        <div class="corporate_heading">
               Write to us
        </div>
        <div class="corporate_des">
            maasaraswatipressgola1@gmail.com
        </div>
    </div>
    
    



</div>

</div>

 {{!-- <div class="heading1">
    <h1> Owner </h1> </div> --}}


<div class="own_card_flex">

{{!-- rakesh maurya --}}
  {{!-- <div class="rakesh_own">
    <div class="card5 mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="images/rakesh.jpg" width="800px" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 >Properitor</h5>
        <h4>Rakesh Maurya</h4>
        <p class="card-text">Maa Saraswati Press has been in the printing business for over 21 years. Our dedication to provide the best quality services, even in the tightest of deadlines, continually exceeds our customers’ highest expectations. Our philosophy has been to get the latest technology available in the Gola.  </p>
        
      </div>
    </div>
  </div>
</div>
</div> --}}



{{!-- sundaram maurya --}}

{{!-- <div class="rakesh_own">
    <div class="card5 mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="images/sundaram.jpg" width="800px" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 >Manager</h5>
        <h4>Sundaram Maurya</h4>
        <p class="card-text"> We have earned the loyalty of our customers with our quality, punctuality and customer-service. We are a part of “your Team”. We see ourselves as a part of our customers’ team, and add value in various capacities:We maintain an extensive digital library of logos, product shots, etc. for our customers. </p>
        
      </div>
    </div>
  </div>
</div>
</div> --}}

</div>

{{!-- All About the FORMS 
Compllte FORMS  --}}

<section id="contact-details" class="section-p1">
            <div class="details"> 
                <span> GET IN TOUCH </span>
                <h2> Visit one of our Agency locations or contact us today </h2>    
                <h3> Head Office </h3>
                <div>
                    <li> 
                        <i class="fa fal fa-map"> </i>
                        <p> Chand Chauraha Gola Bazar - Gorakhpur (U.P.)  </p>
                    </li>
                </div>

                <div>
                    <li> 
                        <i class="far fa-envelope"> </i>
                        <p> maasaraswatipressgola1@gmail.com </p>
                    </li>
                </div>

                <div>
                    <li> 
                        <i class="fa fas fa-phone-alt"> </i>
                        <p> 9450880307 </p>
                    </li>
                </div>

                <div>
                    <li> 
                        <i class="far fa-clock"> </i>
                        <p> Monday to Saturday : 09:00am to 06:00pm </p>
                    </li>
                </div>
            </div>

                <div class="maps">
                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3575.247259982977!2d83.35042107482398!3d26.35086347698641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399176b7278ff4c7%3A0x118640530cd5c31a!2z4KSc4KSvIOCkruCkvuCkgSDgpLjgpLDgpLjgpY3gpLXgpKTgpYAg4KSV4KSC4KSq4KWN4KSv4KWC4KSf4KSwICYg4KSq4KWN4KSw4KS_4KSC4KSf4KSw4KWN4KS4!5e0!3m2!1shi!2sin!4v1697122053202!5m2!1shi!2sin" width="350" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            
    </section>

    
    <section id="form-details">
        <form action="/" method="post">
            <span> LEAVE A MESSAGE </span>
            <h2> Please fill the Form with the Clear Details </h2>
            <input type="text" placeholder="Your Name" name="name">
            <input type="text" placeholder="E-mail" name="email">
            <input type="text" placeholder="Subject" name="subject">
            <textarea id="" cols="30" rows="10" placeholder="Your Message" name="discription"> </textarea>
            <button type="submit"> Submit </button>
        </form>


        <div class="people">
            <div>
                <img src="images/avatar-2.png" alt="">
                <p> <span> Aman Kumar </span> Graphic Designer </p> 
                Gola Bazar - Gkp. <br>
                E-mail : maasaraswatipressgola1@gmail.com
              </div>

              <div>
                <img src="images/avatar-2.png" alt="">
                <p> <span> Kamlesh Sonkar </span> Autoprint Operator </p> 
                Gola Bazar - Gkp. <br>
                E-mail : maasaraswatipressgola1@gmail.com
              </div>

              <div>
                <img src="images/avatar-2.png" alt="">
                <p> <span> Munna Maurya </span> Flex Operator </p> 
                Gola Bazar - Gkp. <br>
                E-mail : maasaraswatipressgola1@gmail.com
              </div>
        </div>
    </section>

    <div class="group">
        <div class="det_com">

        <div class="details">
            <h3> Maa Saraswati Press Gola </h3>
            <h6> Chand Chaurha Gola Bazar - Gorakhpur (U.P.) </h6>
            <p> For Contact : Call Us : 9450880307 </p>

        </div>

        <div class="com_btns">
            <ul class="list" type="none">
               <a href="../"> <li class="btns_1"> Home </li> </a> 
               <a href="#satya"> <li class="btns_1"> Services </li> </a>
                <a href="#about_page"><li class="btns_1"> About </li> </a>
                <a href="#work_id"><li class="btns_1"> Work </li> </a>
                <a href="/contact"><li class="btns_1"> Contact </li> </a>
            </ul>
        </div>

        </div>

    </div>



    <p style="margin-top:80px"> This Website is not a Copyright it includes all the Paid Subscription. </p>
