 {{>css}}
 <div class="heading1"><h1> Portfolio</h1> </div>
<div class="small_heading">
    <h5> Some of Our Importanr Work Samples</h5>
</div>

<div class="collect_images">
    <div class="collect_image">
    <img src="images/port1.jpeg">
    <img src="images/port2.jpeg">
    <img src="images/port3.jpeg">
    <img src="images/port4.jpeg">
    <img src="images/port5.jpeg">
    <img src="images/port6.jpeg">
    <img src="images/port7.jpeg">
    <img src="images/port8.jpeg">
    <img src="images/port9.jpeg">
    <img src="images/port10.jpeg">
    <img src="images/port11.jpeg">
    <img src="images/port12.jpeg">
    <img src="images/port13.jpeg">
    <img src="images/port14.jpeg">
    <img src="images/port15.jpeg">
    </div>
</div>