<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="complete">

        
        <div class="collect">
            <div class="MainImage">
                <img src="images/card2.jpg" id="BadaImage1">
            </div>

            <div class="SmallImage">
                <div>
                    <img src="images/card3.jpg" class="ChottaImage1">
                </div> 
                <div>
                    <img src="images/card4.jpg" class="ChottaImage1">
                </div>  
                <div>
                    <img src="images/card5.jpg" class="ChottaImage1">
                </div>  
                     
            </div>
        </div>

        <div class="collect">
            <div class="MainImage">
                <img src="images/card6.jpg" id="BadaImage2">
            </div>

            <div class="SmallImage">
                <div>
                    <img src="images/card7.jpg" class="ChottaImage2">
                </div> 
                <div>
                    <img src="images/card8.jpg" class="ChottaImage2">
                </div>  
                <div>
                    <img src="images/card9.jpg" class="ChottaImage2">
                </div>  
                     
            </div>
        </div>

        <div class="collect">
            <div class="MainImage">
                <img src="images/card10.jpg" id="BadaImage3">
            </div>

            <div class="SmallImage">
                <div>
                    <img src="images/card11.jpg" class="ChottaImage3">
                </div> 
                <div>
                    <img src="images/card12.jpg" class="ChottaImage3">
                </div>  
                <div>
                    <img src="images/card13.jpg" class="ChottaImage3">
                </div>  
                     
            </div>
        </div>

        <div class="collect">
            <div class="MainImage">
                <img src="images/card14.jpg" id="BadaImage4">
            </div>

            <div class="SmallImage">
                <div>
                    <img src="images/card15.jpg" class="ChottaImage4">
                </div> 
                <div>
                    <img src="images/card16.jpg" class="ChottaImage4">
                </div>  
                <div>
                    <img src="images/card17.jpg" class="ChottaImage4">
                </div>  
                     
            </div>
        </div>

        <div class="collect">
            <div class="MainImage">
                <img src="images/card18.jpg" id="BadaImage5">
            </div>

            <div class="SmallImage">
                <div>
                    <img src="images/card19.jpg" class="ChottaImage5">
                </div> 
                <div>
                    <img src="images/card20.jpg" class="ChottaImage5">
                </div>  
                <div>
                    <img src="images/card21.jpg" class="ChottaImage5">
                </div>  
                     
            </div>
        </div>

        <div class="collect">
            <div class="MainImage">
                <img src="images/card22.jpg" id="BadaImage6">
            </div>

            <div class="SmallImage">
                <div>
                    <img src="images/card23.jpg" class="ChottaImage6">
                </div> 
                <div>
                    <img src="images/card27.jpg" class="ChottaImage6">
                </div>  
                <div>
                    <img src="images/card26.jpg" class="ChottaImage6">
                </div>  
                     
            </div>
        </div>

        <div class="collect">
            <div class="MainImage">
                <img src="images/card27.jpg" id="BadaImage7">
            </div>

            <div class="SmallImage">
                <div>
                    <img src="images/card28.jpg" class="ChottaImage7">
                </div> 
                <div>
                    <img src="images/card29.jpg" class="ChottaImage7">
                </div>  
                <div>
                    <img src="images/card31.jpg" class="ChottaImage7">
                </div>  
                     
            </div>
        </div>



        <div class="collect">
            <div class="MainImage">
                <img src="images/card35.jpg" id="BadaImage8">
            </div>

            <div class="SmallImage">
                <div>
                    <img src="images/card32.jpg" class="ChottaImage8">
                </div> 
                <div>
                    <img src="images/card33.jpg" class="ChottaImage8">
                </div>  
                <div>
                    <img src="images/card34.jpg" class="ChottaImage8">
                </div>  
                     
            </div>
        </div>


        

    </div>

<script>
    var BadaImage1 = document.getElementById("BadaImage1");
    var ChottaImage1 = document.getElementsByClassName("ChottaImage1");

    ChottaImage1[0].onclick = function() {
        BadaImage1.src = ChottaImage1[0].src;
    } 
    ChottaImage1[1].onclick = function() {
        BadaImage1.src = ChottaImage1[1].src;
    } 
    ChottaImage1[2].onclick = function() {
        BadaImage1.src = ChottaImage1[2].src;
    }  

    var BadaImage2 = document.getElementById("BadaImage2");
    var ChottaImage2 = document.getElementsByClassName("ChottaImage2");

    ChottaImage2[0].onclick = function() {
        BadaImage2.src = ChottaImage2[0].src;
    } 
    ChottaImage2[1].onclick = function() {
        BadaImage2.src = ChottaImage2[1].src;
    } 
    ChottaImage2[2].onclick = function() {
        BadaImage2.src = ChottaImage2[2].src;
    }  

    var BadaImage3 = document.getElementById("BadaImage3");
    var ChottaImage3 = document.getElementsByClassName("ChottaImage3");

    ChottaImage3[0].onclick = function() {
        BadaImage3.src = ChottaImage3[0].src;
    } 
    ChottaImage3[1].onclick = function() {
        BadaImage3.src = ChottaImage3[1].src;
    } 
    ChottaImage3[2].onclick = function() {
        BadaImage3.src = ChottaImage3[2].src;
    }   

    var BadaImage4 = document.getElementById("BadaImage4");
    var ChottaImage4 = document.getElementsByClassName("ChottaImage4");

    ChottaImage4[0].onclick = function() {
        BadaImage4.src = ChottaImage4[0].src;
    } 
    ChottaImage4[1].onclick = function() {
        BadaImage4.src = ChottaImage4[1].src;
    } 
    ChottaImage4[2].onclick = function() {
        BadaImage4.src = ChottaImage4[2].src;
    } 

    var BadaImage5 = document.getElementById("BadaImage5");
    var ChottaImage5 = document.getElementsByClassName("ChottaImage5");

    ChottaImage5[0].onclick = function() {
        BadaImage5.src = ChottaImage5[0].src;
    } 
    ChottaImage5[1].onclick = function() {
        BadaImage5.src = ChottaImage5[1].src;
    } 
    ChottaImage5[2].onclick = function() {
        BadaImage5.src = ChottaImage5[2].src;
    }     

    var BadaImage5 = document.getElementById("BadaImage5");
    var ChottaImage5 = document.getElementsByClassName("ChottaImage5");

    ChottaImage5[0].onclick = function() {
        BadaImage5.src = ChottaImage5[0].src;
    } 
    ChottaImage5[1].onclick = function() {
        BadaImage5.src = ChottaImage5[1].src;
    } 
    ChottaImage5[2].onclick = function() {
        BadaImage5.src = ChottaImage5[2].src;
    }    

    var BadaImage6 = document.getElementById("BadaImage6");
    var ChottaImage6 = document.getElementsByClassName("ChottaImage6");

    ChottaImage6[0].onclick = function() {
        BadaImage6.src = ChottaImage6[0].src;
    } 
    ChottaImage6[1].onclick = function() {
        BadaImage6.src = ChottaImage6[1].src;
    } 
    ChottaImage6[2].onclick = function() {
        BadaImage6.src = ChottaImage6[2].src;
    }   

    var BadaImage7 = document.getElementById("BadaImage7");
    var ChottaImage7 = document.getElementsByClassName("ChottaImage7");

    ChottaImage7[0].onclick = function() {
        BadaImage7.src = ChottaImage7[0].src;
    } 
    ChottaImage7[1].onclick = function() {
        BadaImage7.src = ChottaImage7[1].src;
    } 
    ChottaImage7[2].onclick = function() {
        BadaImage7.src = ChottaImage7[2].src;
    } 

    var BadaImage8 = document.getElementById("BadaImage8");
    var ChottaImage8 = document.getElementsByClassName("ChottaImage8");

    ChottaImage8[0].onclick = function() {
        BadaImage8.src = ChottaImage8[0].src;
    } 
    ChottaImage8[1].onclick = function() {
        BadaImage8.src = ChottaImage8[1].src;
    } 
    ChottaImage8[2].onclick = function() {
        BadaImage8.src = ChottaImage8[2].src;
    } 
</script>


</body>
</html>
