<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
    
</head>
<body>
    <div id="satya">
    <div class="top"> 
  <h1> Our Services </h1>
  <h4> Dream comes True </h4>
</div>
    
    <div class="slide-card">
    <div class="card">
        <div class="img-area">
            <img src="images/service1.jpg" alt="">
        </div>
        <div class="info">
            <h4> Wedding Cards</h4>
            <p> 
                <ul>
                    <li> Tilak Card Prinitng </li>
                    <li> Birthday Card Prinitng </li>
                    <li> Grihparvesh Card Prinitng </li>
                    <li> Mundan Card Prinitng </li>
                    <li> Bahubhoj Card Prinitng </li>
                    <li> Anniversary Card Prinitng </li>
                </ul>
            </p>
            <a href="/card">
            <h3 style="color: red;"> CLICK HERE </h3>
        </a> </div>
    </div>




     <div class="card">
        <div class="img-area">
            <img src="images/service2.jpg" alt="">
        </div>
        <div class="info">
            <h4> Flex Prinitng </h4>
            <p> 
                <ul>
                    <li> Normal Quality Banner </li>
                    <li> Jindal Quality Banner </li>
                    <li> Vinyl Prinitng for Bus Sticker </li>
                    <li> One Way Printing for Transparent Glass / Clinic </li>
                    <li> Star Korea Banner Quality  </li>
                </ul>
            </p>
            <p class="socials">  
                <i class="fa-brands fa-whatsapp"></i> 
                <i class="fa-brands fa-facebook"></i> 
                <i class="fa-brands fa-twitter"></i> 
                <i class="fa-brands fa-whatsapp"></i> 
            </p>
        </div>
    </div>
    




     <div class="card">
        <div class="img-area">
            <img src="images/service3.jpg" alt="">
        </div>
        <div class="info">
            <h4> Digital Printing </h4>
            <p> 
                <ul>
                    <li> Color Digital Pad Printin</li>
                    <li> Ramayan/Mundan Card</li>
                    <li> Label Sticker for Bottle </li>
                    <li> Color Sticker all Sizes</li>
                    <li> Color Lab Photo HD Prinitng</li>
                    <li> Color Digital Handbills </li>
                </ul>
            </p>
            <p class="socials">  
                <i class="fa-brands fa-whatsapp"></i> 
                <i class="fa-brands fa-facebook"></i> 
                <i class="fa-brands fa-twitter"></i> 
                <i class="fa-brands fa-whatsapp"></i> 
            </p>
        </div>
    </div>



     <div class="card">
        <div class="img-area">
            <img src="images/service4.jpg" alt="">
        </div>
        <div class="info">
            <h2> Jhola Printing </h2>
            <p> 
                <ul>
                    <li> Non-Woven Bag Printing </li>
                    <li> D-Cut Jhola Printing </li>
                    
                    <h6> A Complete Jhola Printing with Offset Machine.</h6>
                </ul>
            </p>
            <p class="socials">  
                <i class="fa-brands fa-whatsapp"></i> 
                <i class="fa-brands fa-facebook"></i> 
                <i class="fa-brands fa-twitter"></i> 
                <i class="fa-brands fa-whatsapp"></i> 
            </p>
        </div>
    </div>


    <div class="card">
        <div class="img-area">
            <img src="images/service5.jpg" alt="">
        </div>
        <div class="info">
            <h4> Visiting Cards </h4>
            <p> 
                <ul>
                    <li> Digital Visiting Card </li>
                    <li> Single Color Visiting Card </li>
                    <li> Double Color Visiting Card </li>
                    <li> PVC Visiting Card </li>
                    <li> Velvet Visiting Card </li>
                    <li> Business Visiting Card </li>
                </ul>
            </p>
            <p class="socials">  
                <i class="fa-brands fa-whatsapp"></i> 
                <i class="fa-brands fa-facebook"></i> 
                <i class="fa-brands fa-twitter"></i> 
                <i class="fa-brands fa-whatsapp"></i> 
            </p>
        </div>
    </div>



    <div class="card">
        <div class="img-area">
            <img src="images/service6.jpg" alt="">
        </div>
        <div class="info">
            <h4> Pad Printing </h4>
            <p> 
                <ul>
                    <li> Hospital Color Pad </li>
                    <li> Hospital Pad 2 Color </li>
                    <li> Clinic/Dental Pad </li>
                  
                    <li> Business Pad </li>
                    <li> Single Color Pad & many more </li>
                </ul>
            </p>
            <p class="socials">  
                <i class="fa-brands fa-whatsapp"></i> 
                <i class="fa-brands fa-facebook"></i> 
                <i class="fa-brands fa-twitter"></i> 
                <i class="fa-brands fa-whatsapp"></i> 
            </p>
        </div>
    </div>



    <div class="card">
        <div class="img-area">
            <img src="images/service7.jpg" alt="">
        </div>
        <div class="info">
            <h4> Cashmemo Printing </h4>
            <p> <ul>
                <li> Tax Invoice </li>
                <li> Cashmemo - Bill of Supply </li>
                <li> School Cashmemo </li>
                <li> Jewellery Shop Cashmemo  </li>
                <li> Donation Receipt </li>
                <li> Hospital Bill/Receipt </li>
            </ul>
            </p>
            <p class="socials">  
                <i class="fa-brands fa-whatsapp"></i> 
                <i class="fa-brands fa-facebook"></i> 
                <i class="fa-brands fa-twitter"></i> 
                <i class="fa-brands fa-whatsapp"></i> 
            </p>
        </div>
    </div>



    <div class="card">
        <div class="img-area">
            <img src="images/service8.jpg" alt="">
        </div>
        <div class="info">
            <h4> T-Shirt & Cup </h4>
            <p> 
                <ul>
                    <li> For Birthday Party </li>
                    <li> For New Year Party </li>
                    <li> For Festival Ocassion</li>
                    <li> For Anniversary Party </li>
                    <li> For Best Friends </li>
                    <li> Cup For Girl Friends :)  </li>
                </ul>
            </p>
            <p class="socials">  
                <i class="fa-brands fa-whatsapp"></i> 
                <i class="fa-brands fa-facebook"></i> 
                <i class="fa-brands fa-twitter"></i> 
                <i class="fa-brands fa-whatsapp"></i> 
            </p>
        </div>
    </div>
 </div>

    
    </div>
    
   
</body>
</html>