 <div id="work_id">
    
    <div class="heading1"><h1> Contact for Wedding Card Invitation Video</h1> </div>
<div class="small_heading">
    <h5> Wedding Invitation Video | Mundan Invitation Video | Birthday Invitation Video | Anniversary Invitation Video | Tilak Invitation Video or any Function</h5>
</div>


 <div class="collect_cards">
    
    {{!-- Cards --}}
    <div class="smallcard">
       <div class="card_img">
        <img src="images/work1.jpg"
        </div>

    <div class="card_title">
        <h4>Annual Reports Card</h4>   
    </div>
    <div class="card_dis">
    <p> Few print pieces say more about the professionalism and progress of your business like an annual report. To guarantee your report is designed and printed without any problems.</p>
    </div>
    <div class="btn_card">
    <button type="button" class="btn btn-success">Read More</button>
    </div>
    </div>
</div>

 <div class="smallcard">
       <div class="card_img">
        <img src="images/work2.jpg"
        </div>

    <div class="card_title">
        <h4>Brochures</h4>   
    </div>
    <div class="card_dis">
    <p> When you need to communicate key messages to your audience, there’s nothing more effective.Business brochures allow you to share detailed information about your products.</p>
    </div>
    <div class="btn_card">
    <button type="button" class="btn btn-success">Read More </button>
    </div>
    </div>
</div>

<div class="smallcard">
       <div class="card_img">
        <img src="images/work3.jpg"
        </div>

    <div class="card_title">
        <h4>Envelopes</h4>   
    </div>
    <div class="card_dis">
    <p> Announcement envelopes,
Business envelopes,
Card envelopes,
Clasp envelopes,
Invitation envelopes,
Jumbo envelopes,
Self-seal envelopes,
Wedding envelopes,
Window envelopes</p>
    </div>
    <div class="btn_card">
    <button type="button" class="btn btn-success">Read More</button>
    </div>
    </div>
</div>

<div class="smallcard">
       <div class="card_img">
        <img src="images/work4.jpg"
        </div>

    <div class="card_title">
        <h4>Letterhead</h4>   
    </div>
    <div class="card_dis">
    <p>  Call us or stop by for: <br> Custom letterhead, Executive letterhead, Specialized letterhead, Standard letterhead If you’re getting quality letterhead ?</p> 
    </div>
    <div class="btn_card">
    <button type="button" class="btn btn-success">Read More</button>
    </div>
    </div>
</div>


 {{!-- Cards --}}
    <div class="smallcard">
       <div class="card_img">
        <img src="images/work5.jpg"
        </div>

    <div class="card_title">
        <h4>Calendars</h4>   
    </div>
    <div class="card_dis">
    <p> Royal Table Calendar, Plastic Foldable Stand Table Calendar, Plastic Table Calendars, Laminated Plastic Table Calendar, Elegant Table Calendar With Steel Bind Ring.</p>
    </div>
    <div class="btn_card">
    <button type="button" class="btn btn-success">Read More</button>
    </div>
    </div>
</div>

 <div class="smallcard">
       <div class="card_img">
        <img src="images/work6.jpg"
        </div>

    <div class="card_title">
        <h4>Table Calendar</h4>   
    </div>
    <div class="card_dis">
    <p> Here is a calendar personalized with sweet pictures and an exciting horoscope concept to add spark to even the dullest of days. Plus it is the chicest piece you can have on your desk!</p>
    </div>
    <div class="btn_card">
    <button type="button" class="btn btn-success">Read More</button>
    </div>
    </div>
</div>

<div class="smallcard">
       <div class="card_img">
        <img src="images/work7.jpg"
        </div>

    <div class="card_title">
        <h4>Identity Card</h4>   
    </div>
    <div class="card_dis">
    <p> Company identification card template. Company identity card template design with dark blue color and geometric shapes. Organization ID card vector with photo placeholders. </p>
    </div>
    <div class="btn_card">
    <button type="button" class="btn btn-success">Read More</button>
    </div>
    </div>
</div>

<div class="smallcard">
       <div class="card_img">
        <img src="images/work8.jpg"
        </div>

    <div class="card_title">
        <h4>Handbill | Posters</h4>   
    </div>
    <div class="card_dis">
    <p> Posters tend to be fairly large and professionally printed and almost always feature an illustration. School Poster & Handbills, Hospital Advertisment Poster, Handbill for Shop Advertisement.</p>
    </div>
    <div class="btn_card">
    <button type="button" class="btn btn-success">Read More</button>
    </div>
    </div>
</div>

</div>
